
    <header>
	  <img src="images/logo.png" alt="Logo">
	  <button id="register-button">Register</button>
    </header>
    <div class="topnav">
      <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    <main>
      <section id="about-section-1">
        <h2>About Corey Pennington</h2>
        <p>Corey Pennington is a licensed therapist who offers online therapy services for individuals, couples, and families. With over 10 years of experience, Corey has helped many people overcome their challenges and improve their mental health. Whether you are struggling with depression, anxiety, or relationship issues, Corey is here to help.</p>
      </section>
	  <section>
		<h2>Approach</h2>
		<p>Corey's approach to therapy is collaborative, client-centered, and holistic. He works with you to develop a customized treatment plan that meets your unique needs and goals. Corey believes in the power of therapy to create positive change and is dedicated to helping you achieve the life you want.</p>
	  </section>
	  <section>
	  <h2>Why Corey?</h2>
	  <p>If you're looking for a safe, supportive, and confidential space to talk about your feelings and challenges, Corey is here to listen. Book an appointment today and take the first step towards a better life.</p>
	  </section>
	  
    </main>
    <footer>
      <p>Author: Mark Wightman Jr</p>
	  <p>Email: <a href="mailto:Mark_Wightman@uri.edu">Mark_wightman@uri.edu</a></p>
	  
	  <p>Registered User:</p>
        <ul id="user-list"></ul>
    </footer>
      
  	<script src="scripts/register.js"></script>
