<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/style.css">
    <title>{{pageTitle}}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header>
	  <img src="images/logo.png" alt="Logo">
	  <button id="register-button">Register</button>
    </header>
    <div class="topnav">
      <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>Author: Mark Wightman Jr</p>
	  <p>Email: <a href="mailto:Mark_Wightman@uri.edu">Mark_wightman@uri.edu</a></p>
	  <p>Registered User:</p>
      <ul id="user-list"></ul>
    </footer>
    <script src="scripts/register.js"></script>
    <script src="scripts/load.js"></script>
  </body>
</html>
